<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>孔子培训网_济宁培训网,孔子教育网-济宁培训学校教育招生网站</title>
	<meta name="keywords" content="济宁培训网,孔子培训网,孔子教育网,济宁培训学校,济宁培训班,济宁会计培训,济宁成人高考,济宁电脑培训,济宁平面设计培训,济宁英语培训,济宁舞蹈培训,济宁驾校,济宁公务员考试,济宁化妆培训"/>
	<meta name="description" content="孔子培训网是济宁12县市区首家集课程发布、学校展示、品牌推广、网络招生、在线报名的综合教育培训机构招生门户网。地区包含：济宁、邹城、兖州、曲阜、金乡、嘉祥、汶上、泗水、微山、梁山、鱼台。是成立最早，访问量最大的教育招生网站，包含英语、电脑、学历、技能、职业资格、会计、艺术健身、一对一、企业管理等正规培训学校最新招生信息。"/>
	<link rel="stylesheet" href="__STATIC__/template/theme/css/global.css" />
	<link rel="stylesheet" href="__STATIC__/template/theme/css/style.css" />
	<link rel="stylesheet" href="__STATIC__/template/theme/css/index.css" />
	<script src="__STATIC__/template/theme/js/setTab.js" type="text/javascript"></script>
	</head>
	<body>
	<script src="__STATIC__/mypub/noerr.js" type="text/javascript"></script>
	<script src="__STATIC__/template/theme/js/global.js" type="text/javascript"></script>
	<script src="__STATIC__/template/theme/js/jquery.min.js" type="text/javascript"></script>


